<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

<tr></tr>
<style type="text/css">
	body{

		background-color: rgb(14, 100, 237);
		background-image: linear-gradient(to bottom right,rgb(3, 17, 36),rgb(204, 206, 227));
	}

	.abc{
		text-shadow: 5px 5px 8px black;
		color: white;
position:absolute;
margin-top:240px;
margin-left:500px;
	}
	button{
         background-color: blue;
		color: white;
	}
	table,tr,th,td{
		border: 2px solid;
		border-collapse: collapse;
		text-align: center;
		color: white;

	}
  table{
    margin-top:290px;
  }
	th{
    background-color: rgb(8, 8, 83);
    		background-image: linear-gradient(to bottom right rgb(18, 18, 109),rgb(13, 1, 40));
	}

</style>
<div>
	<body>
{% extends "index.html" %}
{% block content %}
<center><h1 class="abc">Display Data</h1><br><br>

	<table id="mytable" border="1" border-color="black" width="50%" height="50px" class="table table-gray table-striped">
	<thead>
		<tr>
		<th>Name</th>
			<th>MobileNO</th>
        </tr>
	</thead>
	{% for Name,MobileNo in database.items() %}
	{% if Name!= None %}
		<tr>
			<td>{{ Name }}</td>
			<td>{{ MobileNo }}</td>
		</tr>
	{% endif %}
    {% endfor %}
</body>
{% endblock %}
</table> </center>
</div>
